/* General */

:root {
    --main-bg-color: #f8fbff;
    --light-bg-color: #ffffff;
    --main-purple: #5b21b6;
    --light-purple: #7436d9;
    --light-text-hover: #72767b;
}

input:focus{
 border-color: var(--main-purple);
outline-color: var(--light-purple);
}


.container,
.content-section,
header,
footer {
    max-width: 1440px;
    margin: auto;
}
.content-section {
    margin-bottom: 3.75rem;
}

.content-section-tb {
    margin: 3rem 0;
}

h2.page-heading,
h2.page-heading-center {
    text-align: center;
}
h2.subheading {
    line-height: 50px;
    padding-left: 20px;
}
.bolden {
    font-weight: 700;
}

.bold {
    font-size: 18px;
    font-weight: 700;
}

.left-marg {
    margin-left: 20px;
}

.bottom-padd {
    padding-bottom: 20px;
}

.blue-backgroud{
    background-color:  var(--main-bg-color)
}


.centered {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-icon-container {
    width: 22px;
}
.align-img {
    display: flex;
    align-items: center;
}
.align-svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: inherit;
    color: inherit;
    vertical-align: -0.125em;
    fill: currentColor;
}

.margin-centered {
    margin: auto;
}
.section-container-tb {
    padding: 20px 0px;
}

.section-container-lr {
    padding: 0px 20px;
}
.section-container-l{
    padding-left: 20px;
}

.section-container-l{
    padding-right: 20px;
}

.centered-text{
    margin: auto 0;
}



.section-container {
    padding: 20px;
}
.copy-container-small {
    max-width: 1000px;
}

.small-pad {
    padding: 5px;
}

.desktop-hidden {
    display: none;
    visibility: hidden;
}

/* Header */

.logo{
    margin: auto 0;
    width: 110px;
    padding-left: 10px;
}

.desktop-nav {
    margin: auto 0;
    display: flex;
    padding-left: 5rem;
    width: 100%;
    justify-content: space-between;
}

.site-header {
    max-width: 100vw;
    height: 77px;
    border-bottom: 1px solid #f3f4f6;
}

.site-header nav a:hover {
    color: var(--light-text-hover);
}

.header-button{
    width: 100%;
    float: right;
    margin: 10px;
}



footer a:hover{
    color: var(--light-text-hover);
}

button.primary-button,
div.primary-button,
.application-form .submitCTA input,
.contact-us-form .submitCTA input {
    background: var(--main-purple);
    border: none;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
button.primary-button:hover {
    background: var(--light-purple)
}
.wide-btn {
    width: 100%;
    margin-top: 20px;
}

.site-header,
.site-header nav ul {
    display: flex;
    align-items: baseline;
    height: 72px;
    background: white;
}

.site-header nav ul li {
    padding-right: 20px;
}

/* Home page section */

.our-service-copy {
    margin: auto;
    text-align: center;
    max-width: 950px;
    padding-top: 20px;
}

.our-service-card {
    width: 302px;
    height: 308px;
    background: var(--light-bg-color);
    box-shadow: 0px 4px 30px rgba(1, 0, 66, 0.08);
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-rows: 50% 50%;
    margin: 20px;
}

.our-service-cards {
    max-width: 750px;
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 24px 24px;
}

/* About us Banner */
.quoteSection {
    padding-right: 40px;
}

.quoteMarks {
    font-weight: 700;
    font-size: 30px;
}

.career-quote {
    display: flex;
    flex-wrap: wrap;
}
.banner-content {
    text-align: center;
}
.banner-title,
.banner-description {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.banner-title {
    font-size: 24px;
    width: 100%;
    text-align: center;
    font-weight: 900;
    line-height: 70px;
}
.banner-button {
    background: var(--light-bg-color);
    border-radius: 7px;
    color: #484d52;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 40px;
}
.banner-button:hover {
    background: #c8c9cb;
}

.key-points-container {
    display: flex;
    flex-wrap: wrap;
}

/* 404 error page */
.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vw;
    align-items: center;
}

/* team bio */

.meet_the_team_section {
    background: var(--main-bg-color);
    height: fit-content;
}

.meet_the_team_title {
    text-align: center;
    padding: 20px;
}
.flex {
    display: flex;
}

.team_member {
    margin: 10px;
    background: var(--light-bg-color);
    width: 264px;
    height: 365px;
    background: var(--light-bg-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.card_grid {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.centerImage {
    display: block;
    margin: auto;
}

.headshot {
    height: 185px;
    width: 185px;
    border-radius: 50%;
}
.linkedinImage {
    padding: 15px;
    max-height: 35px;
    max-width: 35px;
}
.title_job {
    text-align: center;
    padding-bottom: 10px;
    font-weight: 700;
}

.small-text {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
}

.joinButton {
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.about-us-points {
    max-width: 440px;
}

.bullet-point {
    list-style: disc;
}

/* Footer  */

.footer-container {
    border-top: 1px solid #f3f4f6;
    padding: 20px;
}

.footer-content-container {
    display: flex;
    padding-bottom: 40px;
}

.socials-container ul {
    display: flex;
}

.footer-social-image {
    padding-right: 10px;
}

.footer-links-area {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.footer-title {
    color: #1f2937;
}

.footer-links {
    font-size: 14px;
    font-weight: 100;
}

.footer-links-section {
    padding: 0 0 20px 5rem;
}

.footer-copy {
    text-align: right;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
}

.footer-contact-details {
    text-align: left;
}

.paddingDownMed {
    padding-bottom: 33px;
}

.paddingDownLarge {
    padding-bottom: 66px;
}

.footer-contact-section {
    max-width: 272px;
}

/* Contact Us page */

.contact-us-container {
    background: var(--light-bg-color);
    box-shadow: 0px 10px 40px rgba(0, 7, 70, 0.15);
    border-radius: 20px;
    padding: 42px;
    width: 920px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
}

.contact-us-a {
    grid-column: 1;
    grid-row: 1;
}

.contact-us-b {
    padding-top: 20rem;
    grid-column: 1;
    grid-row: 1;
}

.client-section h3 {
    padding-bottom: 20px;
}

.contact-us-c {
    grid-column: 2;
    grid-row: 1;
}

.copy-and-images {
    padding-right: 70px;
}

.client-image {
    padding-right: 20px;
    padding-bottom: 20px;
}

/* Careers page */
.pills-row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}

.pills-list {
    padding: 10px 0px;
}

.pill {
    width: max-content;
    background: #f3f4f6;
    border-radius: 6px;
    margin: 0 10px 10px 0;
    font-size: 14px;
    padding: 1px 10px;
}
.jobPill img {
    padding-right: 5px;
}

.active-jobs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.active-job-container {
    background: var(--light-bg-color);
    box-shadow: 0px 4px 30px rgba(1, 0, 66, 0.08);
    border-radius: 20px;
    padding: 30px;
    min-width: 290px;
    height: 407px;
    margin: 15px;
}
.job-img {
    height: 80px;
    max-width: 80;
    display: flex;
    margin: auto;
    padding: 30px;
}

.jobKeys {
    padding: 10px 0px;
}
.OtherRoles {
    background-color: #8b5cf6;
    color: white;
    margin: auto;
    text-align: center;
    padding: 20px;
}
.careersBannerCopy {
    font-weight: 700;
    padding-bottom: 20px;
}
.buttonSecondary {
    border: 2px solid var(--light-bg-color);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
    background-color: #8b5cf6;
}

.buttonSecondary:hover {
    background-color: var(--main-purple);
}

.CareerQuote {
    display: flex;
}

.smallImg {
    max-width: 55px;
    max-height: 55px;
}

.quoteCopy {
    max-width: 400px;
    padding: 0px 0px 30px 0;
}

.quoter-info {
    display: flex;
    padding-bottom: 20px;
}

.nameAndRole {
    padding-left: 10px;
}

/* Job posting page */
.job-headers {
    display: flex;
    width: 100%;
    padding-top: 50px;
}

.job-img-large {
    height: 80px;
}

.background,
.heading-background,
.active-roles,
.active-jobs {
    background-color: var(--main-bg-color);
}

.job-page-container {
    display: flex;
}

.job-desc {
    max-width: 700px;
    display: flex;
}

.vLine {
    border: 1px solid #d1d5db;
    margin: 30px 50px 20px 0px;
}

.techPills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 0px;
}

.techPill {
    padding: 8px 15px;
    background: var(--light-bg-color);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.share-and-apply {
    padding-left: 120px;
    height: fit-content;
    position: -webkit-sticky;
    position: sticky; top: 0px;}

.share-me {
    padding-bottom: 48px;
}
.bottom-padding {
    padding-bottom: 20px;
}

.social-share-icons {
    display: flex;
    justify-content: left;
    align-items: center;
}

.social-share-icons img {
    margin-right: 10px;
}

.application-form {
    width: 354px;
    padding: 20px;
    background: var(--light-bg-color);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.input-field-tall {
    height: 124px;
}

.no-padding{
    padding: 0;
}

textarea {
    resize: none;
    padding: 10px;
}

form label{
    display: flex;
    flex-direction: column;
}
label span{
    padding-top: 15px;
}


.contact-us-form label input,
.contact-us-form label textarea,
.application-form label input {
    min-height: 40px;
    background: var(--light-bg-color);
    border-radius: 8px;
    border: 1px solid #d1d5db;
    /* margin-bottom: 20px; */
}

.contact-us-form {
    padding-left: 50px;
}

input[type="file"] {
    display: none;
}
input[type="text"] {
    padding-left: 10px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-file-upload {
    background: var(--light-bg-color);
    border: 1px dashed #d1d5db;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    padding: 30px 0px;
    text-align: center;
}

.custom-file-upload:hover{
    background: var(--main-bg-color);
}
.cursorpointer {
    cursor: pointer;
}

.purple-text {
    color: var(--main-purple);
}
a .purple-text:hover {
    color: var(--light-purple);
}

.contact-us-text span span {
    float: right;
}

/* Media Queries */
@media (max-width: 1060px) {
    .job-page-container {
        display: block;
    }
    .share-and-apply {
        display: flex;
        flex-direction: column-reverse;
        align-self: baseline;
        padding: 0px;
        width: 100%;
    }

    .vLine {
        display: none;
    }

    .application-form {
        width: 85%;
        margin: auto;
    } 

    .contact-us-container {
        box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.15);
        border-radius: 0;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    .contact-us-b {
        order: 2;
    }

    .mobile-outline {
        background: var(--light-bg-color);
        box-shadow: 0px 10px 40px rgba(0, 7, 70, 0.15);
        border-radius: 20px;
    }

    .contact-us-c,
    .contact-us-a {
        width: 100%;
        margin: auto;
    }
    .contact-us-form {
        padding: 20px;
    }

    .contact-us-b,
    .contact-us-a {
        padding: 20px;
        background: var(--main-bg-color);
    }
}
@media (max-width: 800px) {
    .our-service-cards {
        grid-template-columns: 100%;
        margin: auto;
    }
    .our-service-card {
        margin: auto;
    }
}

@media (max-width: 600px) {
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }
    h1 {
        font-size: 22px;
        font-weight: 700;
        line-height: 29px;
    }
    h2 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 40px;
    }
    h3 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 40px;
    }
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
    }
    h2.page-heading {
        text-align: left;
        margin: 20px;
        background-color: var(--light-bg-color);
    }

    .content-section {
        margin-bottom: 2rem;
    }
    .fixed{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
    }
    body{
        margin-top: 74px;
    }
    
    .site-header {
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 300;
        padding: 0px 30px;
        border-bottom: 2px solid #f3f4f6;
    }

    .hamburger {
        background: #f3f4f6;
        border-radius: 10px;
        border: none;
        width: 39px;
        height: 33px;
    }
    .hamburger::after {
        background: red;
    }

    .mobile-menu-container {
        position: absolute;
        margin-top: 20px;
        left: 0px;
        background-color: white;
        width: 100vw;
        height: 100vh;
    }

    .mobile-menu-item {
        margin: 20px 10px;
    }
    .mobile-menu-item span {
        float: right;
        padding: 0 30px;
    }

    .mobile-menu.expanded {
        display: none;
        visibility: hidden;
    }
    .mobile-menu {
        background: black;
        color: "red";
    }

    .homepage-banner {
        padding: 20px;
    }
    .banner-title {
        font-size: 50px;
        line-height: 50px;
    }
    .text-section-2col {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
    }
    .quote {
        font-size: 20px;
    }

    .mobile-hidden {
        display: none;
        visibility: hidden;
    }

    .highlight-left,
    .highlight-right {
        width: 100%;
        float: none;
    }

    .footer-content-container {
        display: block;
    }
    .footer-links-area {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    .footer-links-section {
        padding: 40px 0px 0px 0px;
    }

    .footer-btn-copy {
        background: var(--main-purple);
        border: none;

        color: white;
        padding: 15px 32px;
        text-align: center;
        cursor: pointer;
        font-weight: 700;
        border-radius: 10px;
        margin: 10px 10px 0px 10px;
    }

    /* carrers ppage */

    .CareerQuote {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .active-jobs {
        display: block;
    }
    .job-img {
        visibility: hidden;
        display: none;
    }
    .active-job-container {
        margin: 20px auto;
        width: 80%;
        height: fit-content;
    }

    /* job post page */

    .desktop-hidden {
        display: block;
        visibility: visible;
    }

    .jobHeaders {
        padding: 0;
    }

    .client-images {
        display: flex;
        align-items: center;
        overflow-x: hidden;
    }
}

/* client and partners styling */

.slick-track {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.client-images-carosel {
    padding: 20px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.client-image {
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}
.client-image-centered {
    margin: auto;
}

.client-list-image {
    margin: auto;
    padding: 20px;
}

/* feedback */

.title-job-feedback {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
    font-weight: 900;
}
.title-job-feedback span {
    padding: 0 10px;
}

.client-feedback {
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.feedback-quote {
    max-width: 880px;
    margin: auto;
    padding-bottom: 20px;
}
.message{
    color: red;
}
.error-message {
    color: red;

}
#first-name-error,
#last-name-error,
#email-error,
#submitted,
#message-error,
#resume-error {
    display: none;
}
#resume-error{
    padding-bottom: 5px;
}

.loader {
    border: 4px solid var(--light-bg-color);
    border-top: 4px solid var(--main-purple); 
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



.css-browser{
    width: 425px;
height: 307px;
    background: #FFFFFF;
border: 1px solid #E5E7EB; 
box-shadow: 0px 20px 100px rgba(28, 0, 72, 0.12);
border-radius: 10px;
border-top: none;
}

.css-browser-header{
    height: 38px;
    width: 425px;
    background: #faf9fafa;
    border-radius: 10px 10px 0 0;
    border: 1px solid #E5E7EB;
    position: relative;
    right: 1px;
}

.css-header-dots{
    display: flex;
    margin: 6px;

}

.css-header-dots div{
    height: 8px;
    width: 8px;
    margin-right: 5px;
    border: 1px solid #E5E7EB;
    background: #FFFFFF;
    border-radius: 100%;
}

.header-tab{
    display: flex;
align-items: center;
}

.header-tab-open{
    width: 48px;
    height: 16px;
    background: #FFFFFF;
    margin-left: 20px;
    border: 1px solid #E5E7EB;
    border-radius: 3px 3px 0 0;
    border-bottom: none;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-tab-pill{
    width: 34px;
height: 5px;
background: #E4E3E7;
border-radius: 3px;
margin-left: 6px;
}

.browser-image-container{
    height: 265px;
    width: 423px;
    margin: 1px;
    border-radius: 0 0 9px 9px;
    overflow: hidden;
}

.css-mobile-container{
    width: 168px;
height: 319px;

background: #FFFFFF;
border: 1px solid #E5E7EB;
box-shadow: 0px 20px 100px rgba(28, 0, 72, 0.12);
border-radius: 10px;
}

.css-square-container{
    width: 204px;
height: 243px;
background: #FFFFFF;
border: 1px solid #E5E7EB;
box-shadow: 0px 20px 100px rgba(28, 0, 72, 0.12);
border-radius: 10px;
margin: 20px;
}



.dev-service, .consultancy-service {
    display: grid;
    grid-template-columns: (5fr 4fr);
}
.webtis-service, .afflitate-service{
    display: grid;
    grid-template-columns: (4fr 5fr);
}

.bespokeDevImage, .consultancy-image{
    display: flex;
    margin: auto;
    z-index: 1; 
}

.affiliate-image{
    display: flex;
}
.left{
    position: relative;
    display: flex;
    right: 60px;
}
.right-down{
    position: relative;
    left: 170px;
    top:45px;
}
.right-up{
    position: relative;
    right: 250px;
    bottom: 50px;
    z-index: 0;
}
.ztop {
    position: relative;
    z-index: 2;
}

.service-section{
    padding: 3rem 0;
}

.width-null{
    width: 0px;
}

.service-page{
    max-width: 1140px;
    margin: auto;
}